<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Project</title>
    <style>
        h1{
        font-size: 40px;
        font-family:'Roboto',sans-serif;
        font-weight: normal;
        color:rgb(100, 100, 100);
        text-align: center;
        }
        #banner{
            width: 100%;
            height: 360px;
            object-fit: cover;
        }
        .bodyText{
            font-family: sans-serif;
            color: rgb(80,80,80);
        }
        #container{
            margin: 0 auto;
max-width: 800px;
        }
    </style>
   <!-- create header icon -->


</head>
<body>
    <!-- This code block displays a heading with the text "Hello, world!" on the home page of a website. -->
    <div id="container">
    <h1>Careers Portal</h1>
    <img id="banner" src="./static/covercareer.jpg" height="320px"  alt="">
    <p class="bodyText"><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis reprehenderit adipisci suscipit expedita accusamus quo ad iure? Quas dolore dignissimos qui magni repellat tempora nulla inventore, debitis, ex officia possimus!</span><span>Quas at maiores sunt. Esse dolore id repellat soluta qui excepturi, nesciunt rem nostrum sint aliquid tempore assumenda explicabo est voluptas quam quae vero nihil ad voluptatibus. Ad, vel vitae!</span><span>Obcaecati, ipsam quasi voluptatibus blanditiis cumque dignissimos nulla praesentium, explicabo maxime repudiandae culpa. Deserunt accusamus eius dolorem, necessitatibus architecto repudiandae fugit quasi, neque, maxime eligendi vero iste omnis quidem? Corporis!</span></p>
    <h2>Open Positions</h2>
    <p class="bodyText">TODO - Show Jobs Here</p>
    <div style="text-align:center">
    <button id="contactBtn">Contact Us</button>
    <p>Copyright</p>
</div>
</div>
</body>
</html>