<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">



    <title>Flask Project</title>
    <style>
        #banner {
            height: 360px;
            object-fit: cover;
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center mt-1 mb-4">{{company}} Portal</h1>
        <img id="banner" src="./static/covercareer.jpg" height="320px" alt="">
        <p class="lead"><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis reprehenderit adipisci
                suscipit
                expedita accusamus quo ad iure? Quas dolore dignissimos qui magni repellat tempora nulla inventore,
                debitis, ex officia possimus!</span><span>Quas at maiores sunt. Esse dolore id repellat soluta qui
                excepturi, nesciunt rem nostrum sint aliquid tempore assumenda explicabo est voluptas quam quae vero
                nihil
                ad voluptatibus. Ad, vel vitae!</span><span>Obcaecati, ipsam quasi voluptatibus blanditiis cumque
                dignissimos nulla praesentium, explicabo maxime repudiandae culpa. Deserunt accusamus eius dolorem,
                necessitatibus architecto repudiandae fugit quasi, neque, maxime eligendi vero iste omnis quidem?
                Corporis!</span></p>
        <h2 class="text-center  mt-4">Open Positions</h2>
        <div >
            {% for job in jobs %}
            {% include 'jobitem.html' %}
            {% endfor %}
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary btn-lg">Contact Us</button>
    </div>
    <p class="mt-4 text-center">Copyright @ 2023, Yasir</p>
    </div>
</body>

</html>